<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Catherine Leboullenger - Sexologue</title>
    <meta name=”description” content="Sexologue Chatou Catherine Leboullenger" />
    <meta name=”keywords” content="Sexologue, Chatou, Catherine Leboullenger, therapie de couples, sexologie, education à la sexualité, homophobie, homosexualité, troubles de l'erection, trouble de la sexualité, trouble du plaisir, trouble du désir, trouble de l'identitté sexuelle" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
